[Desktop Entry]
Type=Application
Name=Smash Drums Editor
Comment=Chart editor for Smash Drums indies
Exec=smash editor
Icon=/usr/local/share/smashos/branding/smashos-logo.png
Terminal=false
Categories=AudioVideo;Audio;Music;
StartupNotify=true
Keywords=smash;drums;chart;indies;
