[Desktop Entry]
Type=Application
Name=Indies-DB
Comment=Community maps for Smash Drums
Exec=smash browser
Icon=/usr/local/share/smashos/branding/smashos-logo.png
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
